.btnContainer {
  position: relative;
  width: 165px;
  height: 50px;
  margin: 1rem;
}

.btnContainer a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.051);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(250, 52, 52, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: var(--primary--light);
  border-radius: 30px;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  transition: 0.5s;
  overflow: hidden;
  backdrop-filter: blur(15px);
}
.btnContainer a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.149), transparent);
  transform: skewX(45deg);
  transition: 0.5s;
  transition-delay: 0.5s;
}

.btnContainer:hover a {
  letter-spacing: 3px;
}

.btnContainer a:hover::before {
  transform: skewX(45deg) translateX(200%);
  transition-delay: 0s;
}

.btnContainer:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: #ff0461;
  bottom: -5px;
  width: 30px;
  height: 10px;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0s;
}

.btnContainer:hover::before {
  bottom: 0px;
  height: 25%;
  width: 90%;
  border-radius: 30px;
  transition-delay: 0.5s;
}

.btnContainer:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: #ff0461;
  top: -5px;
  width: 30px;
  height: 10px;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0s;
}
.btnContainer:hover::after {
  top: 0px;
  height: 25%;
  width: 90%;
  border-radius: 30px;
  transition-delay: 0.5s;
}
.btnContainer:before,
.btnContainer:after {
  background: #4db4bb;
  box-shadow: 0 0 5px #4db4bb, 0 0 15px #4db4bb, 0 0 30px #4db4bb;
}
