.screen {
  width: 100%;
  height: 100%;
}
.title {
  text-align: center;
  color: #f5f3f1;
  margin: 0.5rem;
}
.containerVideo {
  overflow: hidden;
  border: 4px solid black;
  border-radius: 1rem;
  background-color: rgba(73, 70, 70, 0.86);
}
/* .btn {
  text-align: center;
  background-color: var(--cocoa-brown-900);
  color: var(--cocoa-brown-100);
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 1rem;
} */
.containerBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
