.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: larger;
  color: red;
}

.link {
  color: blue;
  text-decoration: underline;
}
