@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(rgb(29, 28, 28), grey);

  --color-link: rgb(114, 232, 70);
  --color-link-hover: rgb(85, 80, 220);
}
.presentation {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
@media (max-width: 629px) {
  .presentation {
    flex-direction: column;
  }
}
.iconContainer {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
}
