* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  --primary-normal: #4db4bb;
  --primary-dark: #201a2d;
  --primary-light: #b2c3d3;
  background-color: var(--primary-dark);
}
