.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.8;
  flex-wrap: wrap;
}

.text {
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header2 {
  font-family: fantasy;
  font-size: large;
  font-weight: bold;
  color: var(--primary-light);
  margin-bottom: 1rem;
  animation: ease-in 2s visiblility;
  text-align: center;
}
.text {
  text-align: center;
  padding: 0 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text :nth-child(1) {
  animation: ease-in 3s visiblility;
}
.text :nth-child(2) {
  animation: ease-in 3.5s visiblility;
}
.text :nth-child(3) {
  animation: ease-in 4s visiblility;
}
.text :nth-child(4) {
  animation: ease-in 4.5s visiblility;
}
.text :nth-child(5) {
  animation: ease-in 5s visiblility;
}
.text :nth-child(6) {
  animation: ease-in 5.5s visiblility;
}
.text :nth-child(7) {
  animation: ease-in 6s visiblility;
}

@keyframes visiblility {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
