.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
}
.title {
  font-size: x-large;
  text-align: center;
  margin: 2rem 1rem 0;
}
.header1 {
  position: relative;
  font-size: 1.5em;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff2;
  text-align: center;
}
.header1 span {
  position: relative;
  animation: animateText 1s linear infinite;
}
.iconsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem;
}
.iconsContainer li {
  list-style: none;
}

.date {
  text-align: center;
  margin-bottom: 1rem;
  color: red;
  font-size: large;
  font-family: fantasy;
}
.description {
  color: whitesmoke;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 0 0 20px blue, 0 0 40px blue, 0 0 80px blue;
}

.link {
  margin-top: 1rem;
  animation: 0.5s ease-in infinite jumping;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.link:hover {
  transform: scale(1.2);
  animation: none;
}

.text {
  margin: 0.5rem;
  text-align: center;
  padding: 1rem;
}

.linkURL {
  text-align: center;
  color: rgb(114, 232, 70);
}

.linkURL a {
  color: white;
  text-decoration: none;
}
.videoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 6px solid black;
  border-radius: 20px;
}

.screen {
  width: 100%;
  height: 100%;
  margin: 1rem;
}
@media screen and (min-width: 810px) {
  .header1 {
    font-size: 2.5em;
    letter-spacing: 0.25em;
  }
  .videoContainer {
    width: 600px;
    height: 600px;
  }
  .text {
    width: 60%;
  }
}
@keyframes jumping {
  from {
    transform: translateY(3px);
  }

  to {
    transform: translateY(-3px);
  }
}

@keyframes animateText {
  0%,
  20% {
    color: #fff2;
  }

  21%,
  79% {
    color: #0f0;
  }

  80%,
  100% {
    color: #fff2;
  }
}
