.app {
  height: 100vh;
  position: relative;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: column;
  background: black;
  height: 100vh;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiperSlide {
  width: 30%;
}
@media screen and (max-width: 800px) {
  .swiperSlide {
    width: 70%;
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--cocoa-brown-50);
  margin: 1rem;
}
.link {
  margin: 1rem;
  animation: 0.5s ease-in infinite jumping;
}
.link:hover {
  transform: scale(1.2);
  animation: none;
}

@keyframes jumping {
  from {
    transform: translateY(3px);
  }

  to {
    transform: translateY(-3px);
  }
}
