.navbar,
.active {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .menuNav,
.active .menuNav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.navToggle {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  z-index: 20;
  cursor: pointer;
  transition: 0.3s;
  transform: rotate(45deg);
}

.active .navToggle {
  transform: rotate(90deg);
  z-index: 20;
}

.active .menuNav li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(calc(360deg / 5 * var(--i)));
  opacity: 1;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 20;
}
.navbar .menuNav li {
  opacity: 0;
}
.active .menuNav li a {
  color: white;
  z-index: 100;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  z-index: 20;
}
.active .menuNav li svg {
  transform: rotate(calc(-360deg / 5 * var(--i)));
  background-color: rgb(64, 64, 215);
  border-radius: 50%;
}
