.homepagePart1 {
  height: 100vh;
  position: relative;
}

.moon {
  position: absolute;
  top: 30px;
  left: 30px;
}
.logoContainer {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.starsContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
}
.duneContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  margin: 0;
  padding: 0;
}
