.homepagePart1 {
  width: 90%;
  background-size: cover;
  margin: 100px 0 0 0;
  position: relative;
  height: 600px;
  left: 50%;
  transform: translateX(-50%);
}

.presentationText {
  margin-top: 2rem;
}
.logoContainer p {
  color: var(--primary-light);
  font-size: 15px;
  letter-spacing: 5px;
  font-weight: bold;
  text-align: center;
  margin: 10px;
}

@media screen and (min-width: 810px) {
  .homepagePart1 {
    width: 95%;
    height: 650px;
  }
  .logo li {
    font-size: 60px;
  }
  .logoContainer {
    top: 0px;
  }
  .logoContainer p {
    font-size: 30px;
  }
  .presentationText {
    top: 250px;
  }
}
.logo:hover li {
  cursor: pointer;
  transform: translate(-100px, -200px) rotate(-45deg);
  opacity: 0;
  filter: blur(20px);
}
.logo:hover li:nth-child(1) {
  transition-delay: 0;
}
.logo:hover li:nth-child(2) {
  transition-delay: 0.4s;
}
.logo:hover li:nth-child(3) {
  transition-delay: 0.8s;
}
.logo:hover li:nth-child(4) {
  transition-delay: 1.2s;
}
.logo:hover li:nth-child(5) {
  transition-delay: 1.6s;
}
.logo:hover li:nth-child(6) {
  transition-delay: 1.8s;
}
.logo:hover li:nth-child(7) {
  transition-delay: 2.2s;
}
