.cadre {
  width: 200px;
  height: 320px;
  background-color: rgb(37, 35, 35);
  margin: 1rem;
  margin-bottom: 2rem;
  border: 6px solid black;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}
.logo {
  position: absolute;
  top: 20px;
  left: 70px;
  width: auto;
  height: auto;
}
.header {
  color: white;
  position: absolute;
  top: 85px;
}
.calling {
  font-size: x-small;
  font-family: "Times New Roman", Times, serif;
  color: var(--cocoa-brown-200);
}
.footer {
  position: absolute;
  bottom: 0px;
  height: 60px;
  width: 100%;
  background-color: rgba(87, 86, 86, 0.167);
}
.phoneEnd {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.phoneMicro {
  position: absolute;
  bottom: 8px;
  right: 50px;
}
.videoPhone {
  position: absolute;
  bottom: 2px;
  right: 90px;
}
.audioPhone {
  position: absolute;
  bottom: 12px;
  left: 20px;
}
.cadre:hover {
  transform: scale(1.1);
  transition: all 1s ease-out;
}
.ArrowUpPhone {
  position: absolute;
  top: 0px;
  left: 85px;
}
